html,
h3,
body,
form {
  /* undo default browser margins */
  margin: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  overflow: hidden;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-family: monospace;
}
